.App {
  text-align: center;
}


.App-header {
  background-color: #CBC3E3 ;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #0639e0;
}


.spinner {
  border: 8px solid rgba(0, 0, 0, 0.068);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
 }
 
 
 .saround {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 16px;
 }
 @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
 }
.spinner-container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 background-color: rgba(0, 0, 0, 0.075);
 align-items: center;
 pointer-events: none; /* Make the overlay non-blocking */
 z-index: 9999; /* Make sure it's above other content on the page */
}
 